<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDy5YUnMcR9AZ-ywpmsGct-DpD4_xkWhr4</string>
	<key>GCM_SENDER_ID</key>
	<string>295047297313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.virtualShoppingApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>virtualshopping-6918d</string>
	<key>STORAGE_BUCKET</key>
	<string>virtualshopping-6918d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:295047297313:ios:81d9aa0444682feba0a660</string>
</dict>
</plist>